<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844380853931-7r3oaghcl0l8c5acp6vufoht43ce7jbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844380853931-7r3oaghcl0l8c5acp6vufoht43ce7jbk</string>
	<key>API_KEY</key>
	<string>AIzaSyDF_wM5xtZZOOr0Ej66ph-V78tYBGkmdf8</string>
	<key>GCM_SENDER_ID</key>
	<string>844380853931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp</string>
	<key>PROJECT_ID</key>
	<string>cat-mom-af5ac</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-mom-af5ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844380853931:ios:35c811058ff299263109ee</string>
</dict>
</plist>